@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=Teko:wght@300..700&display=swap');

:root {
    --header: #081526;
    --header-active:#F263A6;
    --teko-font: "Teko", sans-serif;
    --hero:#1C2559;
    --spec-area:#254C8F;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*header styling*/
.header {
    background-color: var(--header);
    font-family: var(--teko-font);
    padding: 20px;
}

.header ul {
    display: flex;
    justify-content: flex-end;
    gap: 2rem;
    list-style-type: none;
    font-size: 2rem;
    animation: bounce-in-right 2s ease;
}
@keyframes bounce-in-right {
    0% {
        opacity: 0;
        transform: translateX(2000px);
      }
      60% {
        opacity: 1;
        transform: translateX(-30px);
      }
      80% {
        transform: translateX(10px);
      }
      100% {
        transform: translateX(0);
      }
    
}

.header a {
    text-decoration: none;
    color: white;
}

.header a.active{
   border-bottom: 2px solid var(--header-active);
   color:var(--header-active)

}
/*end header styling */
/*hero styling*/
.hero{
  background-color: var(--hero);
  color:white;
  display: flex;
  flex-direction: column;
  gap:30px;
  padding:50px;
  font-family: var(--teko-font);
}
.hero h1{
  font-size: 4rem;
}
.hero p{
  font-size: 3rem;
}
/*end hero styling*/
/*areas of specialization*/
.areas-specialization{
  background-color: var(--spec-area) ;
  padding:50px;
  font-family: var(--teko-font);
}
.areas-specialization h2{
  font-size: 2rem;
  font-weight: 500;
  margin-bottom:20px;
  color:white;
}
.cards-container{
  display:flex;
  justify-content: center;
  gap:20px;
}
.cards-container img{
  height:50px;
}
.spec-card{
  display: flex;
  flex-direction: column;
  align-items: center;
  border:2px solid white;
  border-radius: 10px;
  color:white;
  gap:10px;
  padding:20px;
  height:400px;
}
.spec-card p:nth-of-type(1){
  font-size: 2rem;
}
.spec-card p:nth-of-type(2){
  font-size: 1.5rem;
}

