@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=Teko:wght@300..700&display=swap');

:root {
    --dark-blue: #173673;
    --light-blue:#80C7F2;
    --teko-font: "Teko", sans-serif;
    --orange:#F27244;
    --medium-blue:#254C8F;
    --pastel-green:#C3D9AD;
    --pastel-grey: #D7D7D9;
    --dark-green:#79B461;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*header styling*/
.header {
    background-color: var(--dark-blue);
    font-family: var(--teko-font);
    padding: 20px;
}

.header ul {
    display: flex;
    justify-content: flex-end;
    gap: 2rem;
    list-style-type: none;
    font-size: 2rem;
    animation: bounce-in-right 2s ease;
}
@keyframes bounce-in-right {
    0% {
        opacity: 0;
        transform: translateX(2000px);
      }
      60% {
        opacity: 1;
        transform: translateX(-30px);
      }
      80% {
        transform: translateX(10px);
      }
      100% {
        transform: translateX(0);
      }
    
}

.header a {
    text-decoration: none;
    color: white;
}

.header a.active{
   border-bottom: 3px solid var(--orange);
   color:var(--orange)

}
/*end header styling */
/*hero styling*/
.hero{
  background-color: var(--dark-blue);
  padding:100px;
  color:white;
  display: flex;
  justify-content: space-around;
  gap:30px;
  font-family: var(--teko-font);
  border-bottom:2px solid var(--orange);
}
.hero h1{
  font-size: 2rem;
}
.hero span{
  font-size: 4rem;
}
.hero p:nth-of-type(1){
  font-size: 4rem;
  color:var(--orange);
  animation: greetings 3s ease-in-out infinite
}
@keyframes greetings {
  from{
    opacity:0;
  }
  50%{
    opacity:1;
  }
  to{
    opacity:0;
  }
  
}
.hero-buttons{
  display:flex;
  align-self: flex-end;
  gap:50px;
}
.hero-description{
  width:50%;
}
.hero-buttons button{
  height:150px;
  width:150px;
  border-radius: 100%;
  font-family: var(--teko-font);
  font-size: 1.7rem;
  padding:10px;
  color:white;
  background-color: var(--dark-blue);
  border: 2px solid var(--orange);
}
.hero-buttons button:hover{
  cursor: pointer;
  animation:hero-btn-animation 0.1s ease-in forwards
}
@keyframes hero-btn-animation {
  from{
    transform: scale(1);
    background-color: var(--dark-blue);
    
    /* transform: scale(1); */
  }
  to{
    transform: scale(1.2);
    background-color: var(--dark-green);
    color:var(--dark-blue)
    /* transform: scale(1.2); */
  }
}

/*end hero styling*/
/*areas of specialization*/
.areas-specialization{
  background-color: var(--dark-blue) ;
  padding:50px;
  font-family: var(--teko-font);
}
.areas-specialization h2{
  font-size: 2rem;
  font-weight: 500;
  margin-bottom:20px;
  color:white;
}
.cards-container{
  display:flex;
  justify-content: center;
  gap:50px;
 
}
.cards-container img{
  height:50px;
}
.spec-card{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color:var(--pastel-grey);
  border-radius: 10px;
  color:var(--dark-blue);
  gap:10px;
  padding:20px;
  height:400px;
  box-shadow: 0px 10px 13px -7px var(--pastel-grey), 5px 5px 15px 5px rgba(0,0,0,0);
}
.spec-card p:nth-of-type(1){
  font-size: 2rem;
}
.spec-card p:nth-of-type(2){
  font-size: 1.5rem;
}
/*end area of specialization*/
/*technologies*/
.used-technologies{
  padding:50px;
  background-color: var(--dark-blue);
  font-family: var(--teko-font);
}
.used-technologies h2{
  font-size: 2rem;
  font-weight: 500;
  margin-bottom:20px;
  color:white;
}
.technologies-container{
  display:flex;
  flex-wrap: wrap;
  justify-content: space-around;
  row-gap: 50px;

}
.technology{
  color:white;
  font-size: 2rem;
  text-align: center;
}
.technology img{
 max-width:5rem;
}

